<section class="address">
  <div class="container">
    <div class="row">
      <div class="col-12 mt-5">
        <div class="heading mt-5">
          <h1>My Addresses</h1>
          <p class="mb-4">{% render 'icon-account' %}</p>
        </div>
      </div>
    </div>
  </div>
</section>