<section>
	<div class="cotainer">
		<div class="row">
			<div class="col-12 col-md-4 mx-auto">
				<div class="login-form pt-5 mb-5">
					<div class="heading">
						<h1 class="mb-4">Ingresar</h1>
					</div>
					{% form 'customer_login' %}
						{% if form.errors %}
							<div class="alert alert-warning">
								{{ form.errors | default_errors }}
							</div>
						{% endif %}
	
						<div class="form-floating mb-3">
							<input type="email" name="customer[email]" class="form-control" id="formEmail" placeholder="Email">
							<label for="formEmail">Correo Electronico</label>
						</div>
	
						<div class="form-floating mb-4">
							<input type="password" name="customer[password]" class="form-control" id="formPassword" placeholder="Password">
							<label for="formPassword">Contrase単a</label>
						</div>
	
						<a href="#0" class="d-inline-block forgot-password mb-mx-auto">Olvidaste tu contrase単a?</a>
						<br/>
						<input type="submit" class="btn btn-danger mt-3 mb-5" value="Ingresar">
						<br/>
						<a href="{{ routes.account_register_url }}" class="text-decoration-none">Crear una cuenta</a>
					{% endform %} 
				</div>
				<div class="recover-password d-none pt-5 mb-5">
					<div class="heading">
						<h1>Recuperar Contrase単a</h1>
					</div>
					{% form 'recover_customer_password' %}
						{% if form.errors %}
							<div class="alert alert-waring">
								{{ form.errors | default_erros }}
							</div>
						{% endif %}
						<div class="form-floating mb-3">
							<input type="email" name="email" class="form-control" id="recoverEmail" placeholder="Email">
							<label for="recoverEmail">Correo Electronico</label>
						</div>

						<input type="submit" class="btn btn-lg btn-primary" value="Recuperar contrase単a">
					{% endform %}
				</div>
			</div>
		</div>
	</div>
</section>

<script>
	let login = document.querySelector('.login-form');
	let recover = document.querySelector('.recover-password');
	let recoverLink = document.querySelector('.forgot-password');

	recoverLink.addEventListener('click', function() {
		login.classList.add('d-none');
		recover.classList.remove('d-none');
	});
</script>