<section class="register">
	<div class="container">
        <div class="row">
            <div class="col-12 col-md-7 mx-auto" style="margin: 5vh 0 10vh 0;">
                <div class="heading text-center mt-5">
                    <h1 class="mb-5">Create Account</h1>
                </div>
                <div class="create-customer-form my-5">
                    {% form 'create_customer' %}
                        {% if form.errors.size > 0 %}
                            <div class="alert alert-waring">
                                {{ form.errors | default_erros }}
                            </div>
                            <div class="form-floating mb-3">
                                <input type="text" name="customer[first_name]" id="firstname" placeholder="First Name" class="form-control" required>
                                <label for="firstname">First Name</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="text" name="customer[last_name]" id="lastname" placeholder="Last Name" class="form-control" required>
                                <label for="lastname">Last Name</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="text" name="customer[email]" id="email" placeholder="Email" class="form-control" required>
                                <label for="email">Email</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="password" name="customer[password]" id="password" placeholder="Password" class="form-control" required>
                                <label for="password">Password</label>
                            </div>
                            <div class="d-flex justify-content-center">
                                <input type="submit" class="btn btn-lg btn-danger" value="Create Account">
                            </div>
                        {% endif %}
                    {% endform %}
                </div>
            </div>
        </div>
    </div>
</section>