<div class="container">
	<div class="row pt-5 mb-5">
		<div class="col-12 mb-4">
			<h2 class="text-center">Reset Password</h2>
			<p class="text-center">Enter A new Password for you Account.</p>
		</div>
		<div class="col-12 col-md-7 mx-auto">
			{% form 'reset_customer_password' %}
				{% if form.errors %}
					<div class="alert alert-warning">
						{{ form.errors | default_errors }}
					</div>
				{% endif %}
				<div class="form-floating mb-3">
					<input type="password" name="customer[password]" class="form-control" id="password" placeholder="Password">
					<label for="password">Password</label>
				</div>
				<div class="form-floating mb-3">
					<input type="password" name="customer[password_confirmation]" class="form-control" id="confirmPassword" placeholder="confirmPassword">
					<label for="confirmPassword">Confirm Password</label>
				</div>

				<div class="form-group d-flex justify-content-center">
					<input type="submit" class="btn btn-primary me-2" value="Reset Password">
				</div>
			{% endform %}
		</div>
	</div>
</div>