<section>
	<div class="container py-5">
		<div class="row">
			<div class="col-12 col-md-4 mx-auto">
				{% unless shop.password_message == blank %}
					<div class="message p-3 bg-light border border-danger">
						<h1>{{ shop.password_message }}</h1>
					</div>
				{% endunless %}

				<div class="password_form py-5">
					{% form "storefront_password" %}
						{{ form_errors | default_errors }}
						<div class="form-floating mb-3">
							<input type="password" name="password" class="form-control" id="floatingPassword" placeholder="Contraseña">
							<label for="floatingPassword">Contraseña</label>
						</div>

						<div class="submit text-center">
							<input class="btn btn-danger" type="submit" value="Ingresar">
						</div>
					{% endform %}
				</div>

				<div class="email-signup-form py-5">
					{% form "customer" %}
						{{ form_errors | default_errors }}
						<div class="tags">
							<input type="hidden" name="contact[tags]">
						</div>

						<div class="form-floating mb-3">
							<input type="email" name="contact[email]" class="form-control" id="floatingInput" placeholder="example@gmail.com">
							<label for="floatingInput">Correo Electronico</label>
						</div>

						<div class="submit text-center">
							<input type="submit" class="btn btn-danger" value="Ingresar">
						</div>
					{% endform %}
				</div>
			</div>
		</div>
	</div>
</section>