<section class="list-collections">
    <div class="container">
        <div class="row" data-masonry='{"percentPosition": true }'>
            {% for category in collections %}
                <div class="category">
                    Testeando plugin
                </div>
            {% endfor %}
            <p>this is the example for this text</p>
        </div>
    </div>
</section>