<section class="pt-5 mt-5 pb-5 mb-5">
	<div class="container">
        <div class="row">
            <div class="col-12 {{ section.settings.text_alignment }}">
                <div class="display-1 mb-4">404</div>
                <h4 class="mb-5">La pagina ya no existe.</h4>
                <a href="/" class="btn btn-outline-danger">Regresar</a>
            </div>
        </div>
    </div>
</section>

{% schema %}
{
    "name": "Page not Found",
    "settings": [
        {
            "type": "select",
            "id": "text_alignment",
            "label": "Text Alignment",
            "options": [
                {
                    "label": "Left",
                    "value": "text-start"
                },
                {
                    "label": "Center",
                    "value": "text-center"
                },
                {
                    "label": "Right",
                    "value": "text-end"
                }
            ],
            "default": "text-center"
        }
    ]
}
{% endschema %}